{% extends "order/base.html" %}

{% block style %}
    <style>
        .table th, .table td {
        vertical-align: middle!important;
        }
    </style>
{% endblock style %}

{% block title %}订单详情{% endblock title %}

{% block content %}
    <h2>
        这是 {{ order_number }} 号订购单
    </h2>                   
    <p>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>                        
    <table class="table table-hover table-bordered ">
        <thead>
            <tr>
                <th>
                    序号
                </th>
                <th>
                    项目编号
                </th>
                <th>
                    项目名称
                </th>
                <th>
                    项目特征描述
                </th>
                <th>
                    计量单位
                </th>
                <th>
                    工程量
                </th>
                <th>
                    报价(元)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    050102001001
                </td>
                <td>
                    栽植乔木
                </td>
                <td>
                    1、种类：特选银杏<br>2、胸径或干径：50cm<br>3、养护期：2年
                </td>
                <td>
                    株
                </td>
                <td>
                    1
                </td>
                <td contentEditable="true" class="bg-warning">
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    050102001001
                </td>
                <td>
                    栽植乔木
                </td>
                <td>
                    1、种类：特选银杏<br>2、胸径或干径：50cm<br>3、养护期：2年
                </td>
                <td>
                    株
                </td>
                <td>
                    1
                </td>
                <td contentEditable="true" class="bg-warning">
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    050102001001
                </td>
                <td>
                    栽植乔木
                </td>
                <td>
                    1、种类：特选银杏<br>2、胸径或干径：50cm<br>3、养护期：2年
                </td>
                <td>
                    株
                </td>
                <td>
                    1
                </td>
                <td contentEditable="true" class="bg-warning">
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    050102001001
                </td>
                <td>
                    栽植乔木
                </td>
                <td>
                    1、种类：特选银杏<br>2、胸径或干径：50cm<br>3、养护期：2年
                </td>
                <td>
                    株
                </td>
                <td>
                    1
                </td>
                <td contentEditable="true" class="bg-warning">
                </td>
            </tr>
            <tr>
                <td>
                    1
                </td>
                <td>
                    050102001001
                </td>
                <td>
                    栽植乔木
                </td>
                <td>
                    1、种类：特选银杏<br>2、胸径或干径：50cm<br>3、养护期：2年
                </td>
                <td>
                    株
                </td>
                <td>
                    1
                </td>
                <td contentEditable="true" class="bg-warning">
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}